.form{
    //border-top: 1px solid #ced4da;
    border-bottom: 1px solid #ffa94d;
    display: flex;
    padding: 1rem;

    input{
        flex:1; //부모 요소에서 add-button을 제외한 나머지 공간 차지
        font-size: 1.1rem;
        outline: none;
        border:none;
        background: transparent;
        border-bottom: 1px solid #ced4da;
        &:focus{
            border-bottom: 1px solid #ffa94d;
        }
    }
}

.create-button{
    width: 5rem;
    height: 2rem;
    margin-left:1rem;
    border: 1px solid #ffa94d;
    color: #ffa94d;
    font-weight: 500;
    font-size: 1.1rem;
    text-align: center;
    line-height: 2rem;
    cursor: pointer;

    &:hover{
        background: #ffa94d;
        color:white;
    }

    &:active{
        background: #fab005;
    }
}